@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import 'aos/dist/aos.css';

@theme {
  --color-primary: #f46c38;
}

body {
  font-family: 'Nunito', sans-serif;
}
